rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Autoriser la lecture publique pour tous les fichiers dans le dossier 'evenement'
    match /evenement/{allPaths=**} {
      allow read: if true;

    }
    // Autoriser la lecture publique pour les fichiers spécifiques sous 'evenement/unique_event'
    match /evenement/unique_event/{allPaths=**} {
      allow read: if true;

    }
  }
}
