rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Autoriser lecture publique ET écriture pour utilisateurs connectés dans /evenement
    match /evenement/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // (Optionnel) Règle plus spécifique pour /evenement/unique_event
    match /evenement/unique_event/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

  }
}
